.data-table {
    max-width: 596px;
    margin-bottom: 48px;
    font-family: $userfont;

    @include mobile {
        max-width: 350px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__service {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 12px;
    }
}